<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand"  href="/">
            <img src="/img/perguntas.png" alt="Perguntas Logo" style="width: 70px;">
        </a>
    </div>
</nav>