<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %> 
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <br><label>Descrição</label>
                    <textarea name="descricao" cols="30" rows="10" placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-info">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %> 